/*
 * responsive_ie.less
 * ==================
 * Overwrites default layout set in base.less
 * ------------------------------------------
 *
 * Is only used in responsive designs
 * In regular design it should be enough to define layout in base.less
 *
 * Should be loaded only by IE8 and below
 *
 * ----------------------------------------------------------------- */
/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
INITIALIZE
DEFINE LAYOUT FOR IE
*/
/*-------------------------------------------------------------------*\
	INITIALIZE

	Declare LESS variables and mixins (LESS Functions)
\*-------------------------------------------------------------------*/
/*
 * variables/variables.less
 * ==================
 * Variables to customize the look and feel
 * ----------------------------------------------------------------- */
/*
 * mixins/grid.less 
 * ====================
 * Useful mixins used to define the layout
 *
 * ----------------------------------------------------------------- */
/*-------------------------------------------------------------------*\
        Clearfix
\*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*\
        Mixin to apply fluid grid
        (standard for all screens, you just have to decide when to apply it)
        Originally created by https://github.com/stubbornella/oocss
\*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*\
        Debugging functions
\*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*\
	DEFINE LAYOUT FOR IE
\*-------------------------------------------------------------------*/
/*
 * layouts/768up.less
 * ======================
 * Layout mixin for tablets
 * ----------------------------------------------------------------- */
body {
  font-size: 18px;
}
.line {
  width: 100%;
}
.line, .lastUnit, .container {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
}
/* set maximum width of container and align in center */
.container {
  width: 100%;
  min-width: 768px;
  max-width: 1140px;
  margin: 0 auto;
}
body.debug::before {
  content: "media query (768>) fired";
  font-weight: bold;
  display: block;
  text-align: center;
  background: #0000ff;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 99;
  height: 24px;
  line-height: 24px;
}
body.debug {
  margin-top: 24px;
}
